/* div{
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    transition: 1s;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
} */
/* div:hover{
    margin-top: 400px;
    background-color: pink;
    
} */
/* #opacity{
    background-color: chocolate;
    opacity: 0.5;
} */
/* #box{
    height: 50px;
    width: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    text-align: center;
    box-shadow: 2px 2px 8px black;

} */
div{
    height: 200px;
    width: 400px;
    background-color: #7aa874;  
    background-image: url("_\ \(2\).jpeg");
    background-size:cover;
    
}